In [1]:
import json
import sqlite3

In [2]:
def load(file_name):
    with open(file_name, 'r', encoding='utf-8') as f:
        for line in f:
            yield json.loads(line)

### Create the database

In [3]:
sqlite_file = 'wikidata_en.sqlite'
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

### Load and store aliases

In [4]:
c.execute('CREATE TABLE aliases(alias_id integer PRIMARY KEY AUTOINCREMENT, id integer NOT NULL, alias char(100) NOT NULL)')

In [5]:
count = 0
for rec in load('./wikidata-20170313_combined/aliases_en.txt'):
    query = 'INSERT INTO aliases (id, alias) VALUES ({id}, "{alias}")'.format(id=rec['id'].replace('Q', ''), alias=rec['value'].replace('"','""'))
    try:
        c.execute(query)
    except:
        print("failed on:", query)
    count += 1
    if count % 1000000 == 0:
        print("inserted ", count)

inserted  1000000
inserted  2000000
inserted  3000000

In [6]:
c.execute('SELECT * FROM aliases LIMIT 50')
print(c.fetchall())

[(1, 22, 'Alba'), (2, 22, 'Scotland, United Kingdom'), (3, 22, 'SCT'), (4, 22, 'Caledonia'), (5, 22, 'scot'), (6, 31, 'Kingdom of Belgium'), (7, 31, 'be'), (8, 1, 'space'), (9, 1, 'Cosmos'), (10, 1, 'outer space'), (11, 1, 'universe (class)'), (12, 1, 'universe, a'), (13, 13, 'fear of 13'), (14, 23, 'Father of the United States'), (15, 23, 'Washington'), (16, 23, 'President Washington'), (17, 35, 'DK'), (18, 35, 'Danmark'), (19, 35, 'DNK'), (20, 35, 'DEK'), (21, 35, 'dk'), (22, 35, 'Denmark proper'), (23, 35, 'metropolitan Denmark'), (24, 35, 'ðŸ‡©ðŸ‡°'), (25, 64, 'Berlin, Germany'), (26, 82, 'computer printer'), (27, 84, 'London, UK'), (28, 84, 'London, United Kingdom'), (29, 84, 'London, England'), (30, 102, 'pneumonoultramicroscopicsilicovolcanokoniosis'), (31, 109, 'Feb'), (32, 109, '2. month'), (33, 116, 'king'), (34, 116, 'queen'), (35, 124, 'Oct'), (36, 124, '10. month'), (37, 126, 'Dec'), (38, 126, '12. month'), (39, 139, 'â™•'), (40, 139, 'â™›'), (41, 139, 'Q'), (42, 142, 'FR'), (43, 142, 'RÃ©publique franÃ§aise'), (44, 142, 'La France'), (45, 142, 'fr'), (46, 142, 'French Republic'), (47, 142, 'Republic of France'), (48, 145, 'UK'), (49, 145, 'United Kingdom of Great Britain and Northern Ireland'), (50, 145, 'UKGBNI')]

In [7]:
c.execute('SELECT alias FROM aliases WHERE id = 42')
print(c.fetchall())

[('Douglas NoÃ«l Adams',), ('Douglas Noel Adams',), ('Douglas N. Adams',), ('DNA',)]

### Load and store labels

In [9]:
c.execute('CREATE TABLE labels(id integer NOT NULL PRIMARY KEY, label char(100) NOT NULL)')

In [10]:
count = 0
for rec in load('./wikidata-20170313_combined/labels_en.txt'):
    query = 'INSERT INTO labels VALUES ({id}, "{label}")'.format(id=rec['id'].replace('Q', ''), label=rec['value'].replace('"','""'))
    try:
        c.execute(query)
    except:
        print("failed on:", query)
    count += 1
    if count % 1000000 == 0:
        print("inserted ", count)

inserted  1000000
inserted  2000000
inserted  3000000
inserted  4000000
inserted  5000000
inserted  6000000
inserted  7000000
inserted  8000000
inserted  9000000
inserted  10000000
inserted  11000000
inserted  12000000
inserted  13000000
inserted  14000000

In [11]:
c.execute('SELECT * FROM labels LIMIT 50')
print(c.fetchall())

[(1, 'universe'), (2, 'Earth'), (3, 'life'), (4, 'death'), (5, 'human'), (8, 'happiness'), (13, 'triskaidekaphobia'), (15, 'Africa'), (16, 'Canada'), (17, 'Japan'), (18, 'South America'), (19, 'cheating'), (20, 'Norway'), (21, 'England'), (22, 'Scotland'), (23, 'George Washington'), (24, 'Jack Bauer'), (25, 'Wales'), (26, 'Northern Ireland'), (27, 'Ireland'), (28, 'Hungary'), (29, 'Spain'), (30, 'United States of America'), (31, 'Belgium'), (32, 'Luxembourg'), (33, 'Finland'), (34, 'Sweden'), (35, 'Denmark'), (36, 'Poland'), (37, 'Lithuania'), (38, 'Italy'), (39, 'Switzerland'), (40, 'Austria'), (41, 'Greece'), (42, 'Douglas Adams'), (43, 'Turkey'), (44, 'beer'), (45, 'Portugal'), (46, 'Europe'), (48, 'Asia'), (49, 'North America'), (51, 'Antarctica'), (52, 'Wikipedia'), (53, 'Club-Mate'), (54, 'all your base are belong to us'), (55, 'Netherlands'), (56, 'lolcat'), (57, 'Never Gonna Give You Up'), (58, 'penis'), (59, 'PHP')]

In [12]:
c.execute('SELECT label FROM labels WHERE id = 42')
print(c.fetchall())

[('Douglas Adams',)]

### Load and store instances

In [13]:
c.execute('CREATE TABLE instances(child_id integer NOT NULL, parent_id integer NOT NULL, PRIMARY KEY (child_id, parent_id))')

In [16]:
count = 0
for rec in load('./wikidata-20170313_combined/instances.txt'):
    query = 'INSERT OR IGNORE INTO instances VALUES ({child_id}, {parent_id})'.format(child_id=rec['child'].replace('Q', ''), parent_id=rec['parent'].replace('Q', ''))
    try:
        c.execute(query)
    except:
        print("failed on:", query)
    count += 1
    if count % 1000000 == 0:
        print("inserted ", count)

inserted  1000000
inserted  2000000
inserted  3000000
inserted  4000000
inserted  5000000
inserted  6000000
inserted  7000000
inserted  8000000
inserted  9000000
inserted  10000000
inserted  11000000
inserted  12000000
inserted  13000000
inserted  14000000
inserted  15000000
inserted  16000000
inserted  17000000
inserted  18000000
inserted  19000000
inserted  20000000

In [17]:
c.execute('SELECT * FROM instances LIMIT 50')
print(c.fetchall())

[(22, 3336843), (31, 3624078), (31, 43702), (31, 185441), (31, 6256), (31, 160016), (31, 6505795), (1, 1454986), (13, 175854), (23, 5), (35, 185441), (35, 1191549), (35, 6256), (64, 1901835), (64, 200250), (64, 257391), (64, 1549591), (64, 1221156), (64, 262166), (64, 1637706), (64, 133442), (64, 1307779), (64, 515), (64, 15974307), (84, 1637706), (84, 200250), (84, 1066984), (84, 5119), (84, 515), (102, 101991), (105, 41825), (116, 4164871), (127, 41825), (128, 41825), (142, 3624078), (142, 185441), (142, 160016), (142, 6505795), (142, 6688521), (142, 6256), (144, 502895), (144, 213907), (145, 202686), (145, 112099), (145, 3624078), (145, 6256), (145, 6688521), (145, 185441), (145, 160016), (150, 34770)]

In [18]:
c.execute('SELECT parent_id FROM instances WHERE child_id = 42')
print(c.fetchall())

[(5,)]

### Load and store subclasses

In [19]:
c.execute('CREATE TABLE subclasses(child_id integer NOT NULL, parent_id integer NOT NULL, PRIMARY KEY (child_id, parent_id))')

In [22]:
count = 0
for rec in load('./wikidata-20170313_combined/subclasses.txt'):
    query = 'INSERT OR IGNORE INTO subclasses VALUES ({child_id}, {parent_id})'.format(child_id=rec['child'].replace('Q', ''), parent_id=rec['parent'].replace('Q', ''))
    try:
        c.execute(query)
    except:
        print("failed on:", query)
    count += 1
    if count % 1000000 == 0:
        print("inserted ", count)

inserted  1000000
inserted  2000000

In [23]:
c.execute('SELECT * FROM subclasses LIMIT 50')
print(c.fetchall())

[(13, 37141), (44, 154), (82, 11019), (102, 4135602), (105, 41825), (109, 18602249), (116, 82955), (124, 18602249), (126, 18602249), (127, 41825), (128, 41825), (139, 208440), (144, 622852), (144, 39201), (150, 37351), (153, 156), (153, 1383944), (165, 15324), (179, 309078), (179, 210932), (179, 15062149), (179, 2523684), (190, 15619164), (209, 692086), (209, 2543717), (209, 3801534), (209, 1194115), (209, 45867), (209, 7135025), (276, 15416), (276, 1955280), (282, 154), (318, 6999), (349, 1914636), (381, 1475825), (454, 3505845), (499, 17781690), (507, 28874617), (507, 28911163), (523, 6999), (532, 14788575), (561, 553), (561, 25452965), (592, 6636), (592, 17884), (627, 106675), (627, 207712), (629, 104567), (629, 19753344), (629, 207712)]

In [24]:
c.execute('SELECT parent_id FROM subclasses WHERE child_id = 532')
print(c.fetchall())

[(14788575,)]

### Commit and close

In [25]:
conn.commit()
conn.close()