In [1]:
import pandas as pd

### Load data

In [2]:
labels = pd.read_json('./wikidata-20170313_combined/labels_en.txt', lines=True).drop(['language'], axis=1).set_index('id')

In [10]:
aliases = pd.read_json('./wikidata-20170313_combined/aliases_en.txt', lines=True).drop(['language'], axis=1).set_index('id')

In [3]:
instances = pd.read_json('./wikidata-20170313_combined/instances.txt', lines=True)

In [4]:
subclasses = pd.read_json('./wikidata-20170313_combined/subclasses.txt', lines=True)

### Find most popular categories

In [5]:
count_by_parent = instances.groupby('parent').size().reset_index(name='count').sort_values(['count'], ascending=False).set_index('parent')

In [6]:
labeled_count_by_parent = count_by_parent.join(labels)

In [11]:
labeled_count_by_parent.head(20)

             count                            value
parent
Q5         3409748                            human
Q4167836   2885637               Wikimedia category
Q16521     2207829                            taxon
Q4167410   1061456    Wikimedia disambiguation page
Q11266439   890965               Wikimedia template
Q13442814   616257               scientific article
Q13100073   588496  village-level division in China
Q486972     385949                 human settlement
Q532        282336                          village
Q8502       281304                         mountain
Q79007      268247                           street
Q13406463   251053           Wikimedia list article
Q17329259   241163             encyclopedic article
Q4022       224105                            river
Q17633526   207921                 Wikinews article
Q3305213    202122                         painting
Q23397      201446                             lake
Q482994     197444                            album
Q11424      191341                             film
Q355304     173429                      watercourse

### Example: Find all humans!

In [79]:
humans = instances[instances.parent == 'Q5']['child'].reset_index().drop('index', axis=1).set_index('child').join(labels, how='left')

In [80]:
humans.index.name = 'id'

In [81]:
humans.head()

                              value
id
Q10000001  Tatyana Kolotilshchikova
Q1000002               Claus Hammel
Q1000005     Karel Matěj Čapek-Chod
Q1000006          Florian Eichinger
Q1000015               Florian Jahr

In [72]:
humans.loc['Q42']

value    Douglas Adams
Name: Q42, dtype: object

In [82]:
aliases.loc['Q42']

                  value
id
Q42  Douglas Noël Adams
Q42  Douglas Noel Adams
Q42    Douglas N. Adams
Q42                 DNA

In [86]:
# FIXME: Merge a join of humans with itself and and with aliases
# and verify that humans_with_aliases.loc['Q42'] gives 5 different vaiants.
#
# Alternatively, skip the join but make sure that the output will contain 
# all 5 variants as keys and "Douglas Adams" as the corresponding value.